@namespace BlazorAntdProApp.Pages.QuotationBuilder
@page "/quotation-builder"
@using System.Text.Json
@inject IMessageService _message


<div style="margin-bottom:20px;">
    <Steps Current="step" Class="site-navigation-steps">
        <Step Title="Specify Basic" Description="" />
        <Step Title="Specify Rate Plan" Subtitle="" Description="" />
        <Step Title="Preview" Description="" />
        <Step Title="Distribute" Description="" />
    </Steps>
    <Divider />
</div>
<div>
    <div style="display:@stepVisible(0)">
        <SpecifyBasicForm @ref="specifyBasicForm" goNextStep="goNextStep" />
    </div>

    <div style="display:@stepVisible(1)">
        <LaneBuilderForm goNextStep="goNextStep" goPreviousStep="goPreviousStep" />
    </div>
</div>
@*
<div>
    <Button Type="@ButtonType.Primary" OnClick="handleSubmit">Submit</Button>
</div>
*@

@code {
    public int step = 0;
    private SpecifyBasicForm specifyBasicForm;


    private string stepVisible(int _step)
    {
        return _step != step ? "none" : "";
    }


    private void goNextStep()
    {
        if (step >= 0 & step < 4)
        {
            step++;
            StateHasChanged();

        }
    }
    private void goPreviousStep()
    {
        if (step <= 3 & step >= 1)
        {
            step--;
            StateHasChanged();
        }
    }

    private void handleSubmit()
    {
        var res = specifyBasicForm.getSpecifyBasicFormModel();
        Console.WriteLine($"Success:{JsonSerializer.Serialize(res)}");
    }
}


<style>
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
        background: #275594;
        border-color: #275594;
    }

    .ant-steps-item-finish .ant-steps-item-icon {
        background: #fff;
        border-color: #275594;
    }

        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
            color: #275594 !important;
        }

    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
        color:#275594 !important;
    }

    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
        background-color:#275594 !important;
    }

</style>