@inherits LayoutComponentBase

<Layout Style="min-height: 100vh; ">
    <Sider Collapsible=false>
        <div class="logo" >
            <h1 style="color:#fff;font-weight:bold;display:flex;justify-content:center;">Shipping Pricing</h1>
        </div>
        <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            @{
                foreach (MenuDataItem menuItem in _menuData)
                {
                    if (menuItem.Children != null && menuItem.Children.Length > 0)
                    {
                        RenderFragment subTitle =
                        @<span>
                            <span>@menuItem.Name</span>
                        </span>
                        ;
                        <SubMenu Key=@menuItem.Key TitleTemplate=subTitle>

                        @foreach(MenuDataItem subItem in menuItem.Children)
                        {
                                <MenuItem RouterLink=@subItem.Path Key=@subItem.Key>@subItem.Name</MenuItem>
                        }
                        </SubMenu>
                    }
                    else
                    {

                        <MenuItem Key=@menuItem.Key RouterLink=@menuItem.Path>
                            @* <Icon Type="pie-chart" Theme="outline" /> *@
                            <span>@menuItem.Name</span>
                        </MenuItem>

                    }

                }
            }
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-layout-background" Style=" padding:0;padding-right:20px; display:flex;justify-content:flex-end;">
            <BlazorAntdProApp.Components.RightContent />
        </Header>
        <Content Style="margin:0 16px;">
            @Body
        </Content>
        <Footer Style="text-align:center ">Ant Design ©2018 Created by Ant UED</Footer>
    </Layout>
</Layout>




<style>
    .logo {
        height: 64px;
        background: #275594;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        
    }

    .site-layout .site-layout-background {
        background: #fff;
        margin-bottom:20px;
        box-shadow: 0 1px 4px rgba(0,21,41,.08);
    }

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background: #275594 !important;
        opacity: 1 !important;
    }
</style>