@namespace BlazorAntdProApp.Layouts
@using OneOf
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="left_content">
    <div class="content">
        <div class="top">
            <div class="header">
            </div>
        </div>
        @Body
            <div style="position:absolute;bottom:10px;" class="ant-pro-global-footer-copyright">Copyright © American Shipping Company | All Rights Reserved | Terms and Conditions | Privacy Policy</div>
    </div>
    </div>
    <div class="right_cnotent">
    </div>
</div>

@code
{
    public LinkItem[] Links { get; set; } =
    {
        new LinkItem
        {
            Key = "Ant Design Blazor",
            Title = "Ant Design Blazor",
            Href = "https://antblazor.com",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "github",
            Title = (RenderFragment)(@<Icon Type="github" />),
            Href = "https://github.com/ant-design-blazor/ant-design-pro-blazor",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "Blazor",
            Title = "Blazor",
            Href = "https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor?WT.mc_id=DT-MVP-5003987",
            BlankTarget = true,
        }
    };
}
